<%# Display Current User Account Information %>
<%# Can use a partial layout here and on the edit page %>

<h3> Your Profile: <%= @user.username%> </h3>
<table>
    <tr><th>Email:</th>             <td><%= @user.email%>
    <tr><th>Account Created:</th>   <td><%= @user.created_at%>
</table>

<%# Check if the user actually has playlists to display %>

<h3> Your Comments: </h3>
<% @user.comments.each do |comment|%>
    <div class="card">
        <strong><%=  comment.playlist.name %></strong>
        <p><%= comment.body %></p>
        <p><small><%= comment.updated_at%></small></p>
        <% if current_user.id == comment.user_id %>
            <%= button_to 'Delete', [@user, comment], method: :delete %>
        <% end %>
    <div>
<%end%>

<%# All playlists with comments on them by this user %>