<%# Display Current User Account Information %>
<%# Can use a partial layout here and on the edit page %>

<h3> Your Profile: <%= @user.username%> </h3>
<table>
    <tr><th>Email:</th>             <td><%= @user.email%>
    <tr><th>Account Created:</th>   <td><%= @user.created_at%>
</table>

<%# Check if the user actually has playlists to display %>
<h3>You Own these Playlists</h3>
       <div class="album text-muted">
            <div class="container">
                <div class="row">
                    <% @playlists.each do |playlist| %>
                        <%#= Replace this with render partial: 'card', :playlist => p %>
                        <a href="/playlists/<%= playlist.id %>" class="card" style="width: 15rm; display: inline-block">
                            <div class="card-body">
                            <strong class="card-text"><%= playlist.name %></strong>
                            <p class="card-text">Views:<%= playlist.views %></p>
                            <p class="card-text">Score:<%= playlist.likes %></p>
                            <% if current_user.id == playlist.user_id %>
                                <p><%= button_to 'Delete', [@user, playlist], method: :delete %></p>
                            <% end %>
                            </div>
                        </a>
                    <% end %>
                </div>
            </div>
        </div> 


<h3> Your Comments: </h3>
<% @user.comments.each do |comment|%>
    <div class="card">
        <strong><%=  comment.playlist.name %></strong>
        <p><%= comment.body %></p>
        <p><small><%= comment.updated_at%></small></p>
        <% if current_user.id == comment.user_id %>
            <%= button_to 'Delete', [@user, comment], method: :delete %>
        <% end %>
    <div>
<%end%>

<%# All playlists with comments on them by this user %>