<div class="card">
    <strong class="card-text"><%= playlist.name %></strong>
    <a href="<%= playlist_path(playlist) %>"><%= image_tag("picture_holder")%><a>
    <p class="card-text"><%= playlist.views %></p>
    <p class="card-text"><%= playlist.likes %></p>
</div>

