<%#A form to import a specific Spotify Playlist by ID, using current user ID%>
<%# Refactor this later for better user experience%>

<%# test = Playlist.new_from_spotify(Playlist.find_from_spotify_id('1fAyMF8A9yuQmSTX3YjVOK'), user_id = 3)%>
<%# Playlist.create_from_spotify(params%>
<%= render partial: 'errors/errors', locals: {model: @playlist} %>

<h3> Import a new Playlist from Spotify Manually </h3>
<%= form_with(model: @playlist, url: new_playlist_path) do |f|%>
<ul>
    <div><%= f.label         :name %></div>
    <div><%= f.text_field    :name, placeholder: "Playlist Name "%></div>
    <div><%= f.label         :description %></div>
    <div><%= f.text_field    :description, placeholder: "Description"%></div>
    <div><%= f.label         :spotifyPlaylistID  %></div>
    <div><%= f.text_field    :spotifyPlaylistID, placeholder: "Spotify Playlist ID "%></div>
    <div><%= f.label         :spotifyUserID  %></div>
    <div><%= f.text_field    :spotifyUserID, placeholder: "Spotify User Name"%></div>
    <div><%= f.submit :new, class: 'btn btn-outline-success' %></div>
<% end %>