<%= render partial: 'errors/errors', locals: {model: @playlist} %>

<h1><%= @playlist.name %></h1>
<div>
    <p> <%= @playlist.description %></p>
    <p> Created by:<%=if @playlist.spotifyUserID? 
        @playlist.spotifyUserID 
        else 
        User.find_by_id(@playlist.user_id).username 
        end %> </p>
    <p> Views: <%= @playlist.views %></p>
    <p> Likes: <%= @playlist.likes %></p>
    <p> Dislikes: <%= @playlist.dislikes %></p>
</div>
<%# Like/Dislike buttons Here%>

<h3>Drop some feedback on this banger of a playlist</h3>

<%= form_with(model: [@playlist, @comment]) do |f|%>
    <%= f.text_area     :body                                   %>
    <%= f.submit        :comment                                %>
<% end %>

<%# List comments below, sure why not use cards again? %>
<h3>Comments:</h3>
<% @comments.each do |comment|%>
    <%if comment.id?%>
        <div class="card">
            <%=comment.id%>
            <strong><%=  comment.user.username %> Said:</strong> 
            <p><%= comment.body %></p>
            <p><small><%= comment.updated_at%></small></p>
        <div>
    <%end%>
<% end %>
