<%= render partial: 'errors/errors', locals: {model: @playlist} %>

<h1><%= @playlist.name %></h1>
<div>
    <p> <%= @playlist.description %></p>
    <p> Created by:<%=if @playlist.spotifyUserID? 
        @playlist.spotifyUserID 
        else 
        User.find_by_id(@playlist.user_id).username 
        end %> </p>
    <p> Views: <%= @playlist.views %></p>
    <p> Likes: <%= @playlist.likes %></p>
    <p> Dislikes: <%= @playlist.dislikes %></p>
</div>
<%# Like/Dislike buttons Here%>
<%#= button_to "Like", like_playlist(@playlist), class: 'button' %>
<%# Litterally Rails: button helper, it's lable, the url with (param), object class%>
<%#= button_to "Dislike", dislike_playlist(@playlist), class:'button'%>
<%# Render all the tracks in this playlist below, ideally with a common card partial %>

    <table>
        <% @playlist.tracks.each do |track|%>
            <tr>
                <td><%=track.name %></td>
                <td><%=track.artists %></td>
                <td><%=track.name %></td>
            </tr>
        <%end%>
    </table>


<h3>Drop some feedback on this banger of a playlist</h3>

<%= form_with(model: [@playlist, @comment]) do |f|%>
    <%= f.text_area     :body                                   %>
    <%= f.submit        :comment                                %>
<% end %>

<%# List comments below, sure why not use cards again? Ideally refactor this to use a common partial %>
<h3>Comments:</h3>
<% @comments.each do |comment|%>
    <%if comment.id?%>
        <div class="card">
            <strong><%=  comment.user.username %> Said:</strong> 
            <p><%= comment.body %></p>
            <p><small><%= comment.updated_at%></small></p>
        <div>
    <%end%>
<% end %>
