
<%# Icon, probably need to set size with %'s, links to home page %>
<%# User Profile %>
<%# Search for playlists bar %>
<%# Search Bar %>
<nav class ="navbar">
        <ul class="navbar-nav">
          <li class="logo">
            <a href="/" class="nav-link">
              <%= image_tag('gh_logo.png', width: '40rem', height: '40rem') %>
              <span class="link-text logo-text">Greatest Hits </span>
              
             
            </a>
          </li>
        <% if logged_in? %> 
          <li class="nav-item">
            <a href="/users/<%= current_user.id %>" class="nav-link">
              <span class="link-text logo-text">User Profile </span>
            </a>
          </li>
           <li class="nav-item">
            <%=button_to 'Logout', logout_path, class: 'nav-link active', method: 'delete'%>
          </li>
        <% else %>
          <li>
            <%= button_to 'Login', login_path, class: 'nav-link active' %>
          </li>
          <li>
            <%= button_to 'Login with Spotify', '/auth/spotify', class: 'nav-link active', method: "post" %>
          </li>
          
          
        <% end %>
          <li class="nav-item">
            <a href="/playlists" class="nav-link">
              <span class="link-text logo-text">Playlists </span>
            </a>
          </li>
          <li>
            <%= form_with(url: search_path, method: 'get', class: 'd-flex') do |f|%>
              <%= f.text_field :name, class: "form-control me-2", placeholder: "Search for Playlist" %>
              <%= f.submit :Search, class: "btn btn-outline-success" %>
            <% end %>
          </li>
        </ul>
      </nav>