<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Greatest-Hits</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('gh_favicon.ico') %>
    <meta name="turbolinks-root" content="/app">
  </head>

  <body>
      <nav class ="navbar">
        <ul class="navbar-nav">
          <li class="logo">
            <a href="/" class="nav-link">
              <%= image_tag('gh_logo.png', width: '40rem', height: '40rem') %>
              <span class="link-text logo-text">Greatest Hits </span>
              
             
            </a>
          </li>
          
          <li class="nav-item">
            <a href="#" class="nav-link">
              <span class="link-text logo-text">User Profile </span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <span class="link-text logo-text">Playlists </span>
            </a>
          </li>
          <li class="nav-item">

          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <span class="link-text logo-text">Logout</span>
            </a>
          </li>

        </ul>
      </nav>
    <%= yield %>
  </body>
 <footer class="footer" data-turbolinks-permanent>
    <%# Hell yeah lets get that vaporwave aesthetic in here %>
    <div id="BC-BGM-Player" >
        <iframe style="border: 0; width: 100%; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1412946879/size=small/bgcol=333333/linkcol=e32c14/transparent=true/" seamless><a href="https://luxuryelite.bandcamp.com/album/prism">prism by luxury elite</a></iframe>
        <hr class="solid">
    </div>
    <small>
        <a href="https://github.com/baldo-vela/greatest-hits">Greatest Hits </a> by Baldomero Vela 
    </small>
</footer>
</html>
